scopeName: 'source.rainmeter'
name: 'Rainmeter'
fileTypes: [
  'ini'
  'inc'
]
patterns: [
  {include: '#general'}
  begin: '(?i)^\\s*(\\[\\s*Variables\\s*\\])\\s*$'
  beginCaptures: {1: {name: 'predefined.section.rainmeter'}}
  end: '(?=\\s*\\[)'
  patterns: [
    {include: '#general'}
    begin: '^\\s*([^=]*)='
    beginCaptures: {1: {name: 'variable.rainmeter'}}
    end: '$'
    patterns: [
      {include: '#variables'}
      {include: '#bangs'}
    ]
  ]
  {match: '(?i)^\\s*\\[\\s*(?:Rainmeter|Metadata)\\s*\\]\\s*$'
  name: 'predefined.section.rainmeter'}
  {match: '(?!^\\s*\\[\\*.+?\\*\\]\\s*$)^\\s*\\[[^\\[\\]\\s\\/!#\\"%\\$:]+?\\]\\s*$'
  name: 'section.rainmeter'}
]
repository:
  comments:
    match: '^\\s*;.*$'
    name: 'comment.rainmeter'
  include:
    begin: '(?i)^\\s*(@include[^\\s=]*)='
    beginCaptures: {1: {name: 'include.rainmeter'}}
    end: '$'
    patterns: [
      {include: '#variables'}
    ]
  general:
    patterns: [
      {include: '#comments'}
      {include: '#include'}
    ]
  sectionVars:
    begin: '(?!\\[\\*.+?\\*\\])\\[[^\\[\\]\\s\\/!#\\"%\\$:]+'
    beginCaptures: {0: {name: 'section.variable.rainmeter'}}
    end: '\\]'
    endCaptures: {0: {name: 'section.variable.rainmeter'}}
    patterns: [
      {match: '(?i):(\\s*|X|Y|W|H|EscapeRegExp|EncodeURL|Timestamp|(Min|Max)Value|(\\/[+-]?\\d+|%)(\\s*,\\s*\\d+\\s*,?\\s*)?|\\s*\\d+\\s*)(?=])'
      name: 'section.variable.arg.rainmeter'}
      {match: '[^\\]\\n]*'
      name: 'invalid.rainmeter'}
    ]
  enviromentVars:
    match: '%[A-Za-z][0-9a-zA-Z_]+?%'
    name: 'predefined.variable.rainmeter'
  builtInVars:
    match: '(?i)#@#|#PROGRAMDRIVE#|#PROGRAMPATH#|#SETTINGSPATH#|#SKINSPATH#|#PLUGINSPATH#|#ADDONSPATH#|#CURRENTPATH#|#ROOTCONFIGPATH#|#CURRENTFILE#|#CURRENTCONFIG#|#CURRENTSECTION#|#CURRENTCONFIGWIDTH#|#CURRENTCONFIGHEIGHT#|#CURRENTCONFIGX#|#CURRENTCONFIGY#|#[Pp]?WORKAREAX#|#[Pp]?WORKAREAY#|#[Pp]?WORKAREAWIDTH#|#[Pp]?WORKAREAHEIGHT#|#[PpVv]?SCREENAREAWIDTH#|#[PpVv]?SCREENAREAHEIGHT#|#CRLF#|#WORKAREAWIDTH#|#WORKAREAHEIGHT#|#[PpVv]?SCREENAREAX#|#[PpVv]?SCREENAREAY#|#WORKAREAX@\\d+#|#WORKAREAY@\\d+#|#WORKAREAWIDTH@\\d+#|#WORKAREAHEIGHT@\\d+#|#SCREENAREAX@\\d+#|#SCREENAREAY@\\d+#|#SCREENAREAWIDTH@\\d+#|#SCREENAREAHEIGHT@\\d+#'
    name: 'predefined.variable.rainmeter'
  eventVars:
    match: '(?i)\\$(Mouse(X|Y)(:%)?|Userinput)\\$'
    name: 'predefined.variable.rainmeter'
  normalVars:
    match: '(?!#\\*.+?\\*#)#[^#\\s]+#'
    name: 'variable.rainmeter'
  variables:
    patterns: [
      {include: '#sectionVars'}
      {include: '#enviromentVars'}
      {include: '#builtInVars'}
      {include: '#eventVars'}
      {include: '#normalVars'}
    ]
  bangs:
    patterns: [
      {match: '(?i)!(SetClip|SetWallpaper|About|Manage|Log|LsBoxHook|ResetStats|TrayMenu|RefreshApp|Quit|(SetOptionGroup?)|WriteKeyValue|(SetVariableGroup?)|Toggle(Group|Config)?|Move(Meter)?|DeactivateConfig(Group)?|ActivateConfig|Refresh(Group)?|Redraw(Group)?|SetTransparency(Group)?|(Show|Hide|Toggle)Fade(Group)?|(Show|Hide|Toggle|Add|Remove)Blur|Draggable(Group)?|ZPos(Group)?|KeepOnScreen(Group)?|ClickThrough(Group)?|SnapEdges(Group)?|SkinMenu|(Show|Hide|Toggle|Update)Meter(Group)?|((Dis|En)able|Toggle|Update)Measure(Group)?|CommandMeasure|(Un|Toggle)?PauseMeasure|(Show|Hide)(Group)?|Update|LoadLayout)\\b'
      name: 'bang.rainmeter'}
      {match: '(?i)!(Rainmeter(SetClip|SetWallpaper|About|Manage|Log|LsBoxHook|ResetStats|TrayMenu|RefreshApp|Quit|(SetOptionGroup?)|WriteKeyValue|(SetVariableGroup?)|Toggle(Group|Config)?|Move(Meter)?|DeactivateConfig(Group)?|ActivateConfig|Refresh(Group)?|Redraw(Group)?|SetTransparency(Group)?|(Show|Hide|Toggle)Fade(Group)?|(Show|Hide|Toggle|Add|Remove)Blur|Draggable(Group)?|ZPos(Group)?|KeepOnScreen(Group)?|ClickThrough(Group)?|SnapEdges(Group)?|SkinMenu|(Show|Hide|Toggle|Update)Meter(Group)?|((Dis|En)able|Toggle|Update)Measure(Group)?|CommandMeasure|(Un|Toggle)?PauseMeasure|(Show|Hide)(Group)?|Update|LoadLayout)|Execute|(Rainmeter)?PluginBang)\\b'
      name: 'deprecated.bang.rainmeter'}
    ]

  # values:
  #   patterns: [
  #
  #   ]
