
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Rainmeter'
      'submenu': [
        {
          'label': 'Refresh skin'
          'command': 'rainmeter:refresh'
        }
      ]
    ]
  }
]
