@import "syntax-variables";

.source.rainmeter{
  .section,
  .predefined.section{
    color: @syntax-color-function;
  }

  .predefined.section{
    font-weight: bold;
  }

  .variable,
  .predefined.variable{
    color: @syntax-color-variable;
  }

  .predefined.variable{
    font-style: italic;
  }

  .section.variable{
    color: @syntax-color-snippet;
  }

  .section.variable.arg{
    color: @syntax-color-constant;
  }

  .invalid{
    color: white;
    background-color: @syntax-color-removed;
  }

  .support.function{
    font-style: italic;
  }

  .deprecated.function{
    color: darken(@syntax-color-modified, 50%);
    background-color: @syntax-color-modified;
    font-style: normal;
  }

  .option{
    color: @syntax-color-keyword;
  }

  .meter.style.option{
    font-style: italic;
  }

  .include{
    font-style: italic;
    font-weight: bold;
  }

  .value.constant{
    color: @syntax-color-constant;
  }

  .value.constant.important{
    font-weight: bold;
  }
}
